html {
    background-color: gray;
    background-image: url("images/MyFavLanding.jpg");
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-size: 46px;
    font-family: 'Ribeye', cursive;
}
nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 0%;
}
ul {
    text-align: right;
}
li {
    display: inline-block;
}
nav>ul>li>a {
    padding: 10px;
    margin-right: 0%;
    /* padding-top: 0%; */
    /* bottom: 0%; */
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: black;
    /* vertical-align: top; */
}
nav>ul>li>a:hover {
    background: black;
    color: white ;
}
/* .nav {
    top: 5px;
} */
/* h1 {
    vertical-align: text-top;
} */
/* .page {
    border: black;
    height: 120px;
    width: auto;
} */
.mouse_click {
    padding-top: 27rem;
    position: absolute;
}

.inst {
    color: black;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 26px;

}

.intro {
    width: 50%;
    height: 380px;
    /* overflow: auto; */
    background-color: gray;
    background-image: url("images/MyFavLanding.jpg");
    background-size: cover;
    text-align: center;
}

@media screen and (max-width: 600px) and (min-width: 200px) {
    .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .intro {
        width: 80%;
        height: 350px;
        background-color: gray;
        text-align: center;
        margin-top: 10px;
        overflow: auto;
    }
  } 

/* .container {
    background-color: gray;
    background-image: url(/images/MagicPageBelieve.jpg);
    background-size: ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.generator {
    width: 35%;
    height: 350px;
    background-color: antiquewhite;
    text-align: center;
} */
.trial {
    display: flex;
    flex-direction: row;
    /* justify-content: start; */
    justify-content: space-around;
    /* align-items: center; */
    width: 100%;
    background-color: gray;
    background-image: url("images/Ghananianboys.jpg");
    background-size: cover;
    padding: 20px;
    font-size: 25px;
}
.row {
    width: 35%;
    height: 620px;
    background-color: gray;
    background-image: url("images/MyFavLanding.jpg");
    background-size: cover;
    overflow: auto;
}
.generator {
    width: 45%;
    height: 620px;
    /* background-color: wheat; */
    background-image: url("images/Ghananianboys.jpg");
    background-size: cover;
    justify-items: right;
    /* overflow: auto; */
}

@media screen and (max-width: 600px) and (min-width: 200px) {
    .body {
        min-height: 100vh;
    }
    
    .trial, .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        background-image: url("images/MyFavLanding.jpg");
        background-size: cover;
    }
    .row {
        width: 80%;
        height: 350px;
        background-color: gray;
        text-align: center;
        margin-top: 10px;
    }
    .generator {
        width: 80%;
        height: 350px;
        background-color: gray;
        text-align: center;
        margin-top: 10px;
        background-image: url("images/MyFavLanding.jpg");

    }
  } 
h2 {
    text-align: center;
}
ol>li {
    display: grid;
}
button, input {
    color: white;
    background-color: blue;
}
label, h3, .welcome {
    color: white;
}